.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.form-container h1 {
  margin-top: 50px;
}

.login-form,
.signup-form {
  margin: 25px 0;
  width: 50%;
}

.login-form button,
.signup-form button {
  display: block;
  margin: 20px auto 0;
}


