.form-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container h1 {
  margin-top: 50px;
}

.form {
  margin: 35px 0;
  width: 50%;
  box-shadow: 0px 0px 10px 1px #cccccc;
  padding: 30px 20px;
}

.form button {
  display: block;
  margin: 20px auto 0;
}

.form h2 {
  margin: 10px auto 30px;
  text-align: center;
}

.form-container .spinner-border {
  display: block;
  margin: 10px auto 0;
}

.project-card {
  margin: 50px 0;
}

.btn-group {
  display: flex;
  justify-content: center;
}

.card {
  width: 60%;
  margin: 20px auto;
}

.card-subheader {
  font-size: 21px;
}

.project-link, .project-link:hover {
  text-decoration: none;
  color: inherit;
}

.project {
  padding-bottom: 40px;
}

.navbar-expand-md .navbar-nav {
  align-items: baseline;
}

.entrepreneur {
  width: 25%;
}
